# Check out files with local/native line endings
* text=auto

# Force these files to be text
.gitattributes  text
.gitignore      text
*.md            text

# Force Windows scripts to use CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Force Unix scripts to use LF
*.sh   text eol=lf
*.bash text eol=lf

# Preserve line endings as-they-are
*.patch -text
